* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 3;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted #000000;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 6px;
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.subheader_official {
  opacity: 0.5;
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
}
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px;
  margin: 0;
}
.promo_header br {
  display: none;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
}
.promo_subheader br {
  display: none;
}
.promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0 0;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 26px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  position: relative;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #222222;
  text-align: center;
}

.cause {
  padding: 20px 0 64px 0;
}
.cause_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.cause_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 116px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 50%;
}
.cause_descr {
  width: 343px;
}
.cause_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.cause_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 861px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  width: 320px;
  height: 280px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/card_1.jpg");
}
.mobile_item_2 {
  background: url("../img/card_2.png");
}
.mobile_item_3 {
  background: url("../img/card_3.png");
}
.mobile_item_4 {
  background: url("../img/card_4.png");
}
.mobile_item_5 {
  background: url("../img/card_5.png");
}
.mobile_item_6 {
  background: url("../img/card_6.png");
}
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.car {
  position: relative;
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: url("../img/bg_car.jpg") center center/cover no-repeat;
}
.car * {
  z-index: 2;
}
.car_bg_black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}
.car .label {
  background-color: #ffffff;
  color: #000000;
}
.car .title {
  color: #ffffff;
}
.car .subtitle {
  color: #ffffff;
}
.car_logo {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 54px;
}
.car_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.car_descr br {
  display: none;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.svg") center center/cover no-repeat;
}
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #1eacc7;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li:before {
  background: url("../icons/check_red.svg") center center/cover no-repeat;
}

.world {
  padding: 46px 0 50px 0;
  height: 720px;
  background: #080810;
  position: relative;
}
.world .label {
  background-color: #ffffff;
  color: #000000;
}
.world .title {
  color: #ffffff;
}
.world .subtitle {
  color: #ffffff;
}
.world img {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 586px;
  width: 1200px;
  position: absolute;
}
.world_subtitle {
  margin-top: 460px;
  position: relative;
  text-align: center;
}
.world a {
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
  color: #1eacc7;
  text-decoration: none;
}

.footer {
  height: 155px;
  padding: 12px 0 40px 0;
}
.footer a {
  text-decoration: none;
}
.footer_icon {
  position: absolute;
  margin-top: 47px;
  margin-left: 32px;
  display: flex;
}
.footer_icon_all {
  margin-right: 6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.footer_store {
  position: absolute;
  margin-top: 51px;
  margin-right: 14px;
  right: 0;
  display: flex;
}
.footer_store img {
  height: 25px;
  margin-right: 7px;
}
.footer_separator {
  margin: 0 auto;
  width: 300px;
  height: 7px;
  background-color: #1eacc7;
}
.footer_wrapper {
  width: 400px;
  margin: 32px auto 0 auto;
}
.footer_wrapper_nav {
  display: flex;
  justify-content: space-around;
}
.footer_wrapper_nav a {
  font-weight: 300;
  font-size: 15px;
  color: #070716;
  text-transform: uppercase;
}
.footer_wrapper_subnav {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}
.footer_wrapper_subnav a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
.footer_language {
  margin-top: 19px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

.xs-visible {
  display: none;
}

.s-visible {
  display: none;
}

@media (max-width: 1199.98px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .cause_block {
    align-items: flex-start;
  }
  .cause_descr {
    width: 300px;
  }
  .mobile {
    padding: 48px 0 55px 0;
  }
  .mobile_item {
    width: 300px;
  }
  .world {
    height: 550px;
    background: url("../img/world_bg.jpg") center center/cover no-repeat;
  }
  .world .bg_hidden {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo {
    font-size: 26px;
    margin-top: 12px;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    margin-top: 21px;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 14px;
  }
  .cause_block {
    flex-direction: column;
    align-items: center;
  }
  .cause_descr {
    width: 300px;
    margin-top: 30px;
  }
  .mobile_item {
    width: 220px;
    height: 195px;
    background-size: 100%;
    padding-top: 60px;
  }
  .mobile_item_subtitle {
    font-size: 17px;
  }
  .mobile_item_plus {
    bottom: 30px;
  }
  .world {
    height: 550px;
  }
  .world_subtitle {
    margin-top: 300px;
  }
  .footer_icon {
    width: 30px;
    height: 30px;
    margin-left: 12px;
  }
  .footer_store {
    margin-right: 3px;
  }
  .footer_store img {
    height: 23px;
    margin-right: 1px;
  }
  .footer_wrapper {
    width: 340px;
  }
}
@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .subheader_call {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px auto 0 auto;
  }
  .promo_header {
    line-height: 45px;
  }
  .mobile {
    padding: 30px 0 27px 0;
  }
  .car {
    min-height: 700px;
    padding: 35px 0 50px 0;
  }
  .car .title {
    line-height: 50px;
  }
  .car img {
    width: 100%;
  }
  .car_bg_black {
    height: 450px;
  }
  .require {
    padding: 35px 0 25px 0;
  }
  .footer {
    padding: 12px 0 285px 0;
  }
  .footer .s-hidden {
    display: none;
  }
  .footer .s-visible {
    display: flex;
    width: 100%;
  }
  .footer_wrapper {
    width: 420px;
  }
  .footer_wrapper_nav a {
    font-size: 18px;
  }
  .footer_wrapper_subnav a {
    font-size: 13px;
  }
  .footer_icon {
    position: relative;
    justify-content: center;
    margin: 25px 0 0 0;
  }
  .footer_icon_all {
    height: 50px;
    width: 50px;
    padding: 12px;
  }
  .footer_store {
    position: relative;
    justify-content: space-evenly;
    margin: 35px 0 0 0;
  }
  .footer_store img {
    height: 40px;
    margin-right: 10px;
  }
  .footer_language {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  .es-hidden {
    display: none;
  }
  header {
    height: 32px;
  }
  nav {
    height: 32px;
  }
  .subheader {
    height: 62px;
    top: 32px;
  }
  .subheader_phone {
    font-size: 12px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .promo {
    min-height: 430px;
    height: 430px;
    padding: 120px 0 35px 0;
    background: url("../img/bg_small.png") center center/cover no-repeat;
  }
  .promo_header {
    font-size: 34px;
    line-height: 35px;
  }
  .promo_header br {
    display: block;
  }
  .promo_subheader {
    font-size: 24px;
    line-height: 23px;
    margin-top: 28px;
  }
  .promo_subheader br {
    display: block;
  }
  .promo_btn {
    width: 230px;
    height: 55px;
    margin: 60px auto 0 auto;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_item_link {
    display: block;
  }
  .title {
    font-size: 18px;
    margin-top: 15px;
  }
  .mobile {
    padding: 28px 0 0 0;
  }
  .mobile_item {
    width: 300px;
    height: 260px;
  }
  .mobile_item_subtitle {
    font-size: 16px;
  }
  .car {
    min-height: 393px;
    padding: 27px 0 31px 0;
    background: #070716;
  }
  .car_logo {
    margin-top: 36px;
  }
  .car_descr {
    position: relative;
    padding-top: 23px;
    color: #ffffff;
  }
  .car_descr br {
    display: block;
  }
  .car_bg_black {
    display: none;
  }
  .require {
    padding: 22px 0 30px 0;
  }
  .world {
    height: 360px;
    padding: 24px 0 30px 0;
  }
  .world_subtitle {
    margin-top: 180px;
  }
  .footer_wrapper {
    width: 300px;
  }
  .footer_wrapper_nav a {
    font-size: 14px;
  }
  .footer_wrapper_subnav {
    flex-wrap: wrap;
    margin-top: 3px;
  }
  .footer_wrapper_subnav a {
    font-size: 11px;
    margin-right: 21px;
    line-height: 25px;
  }
  .footer_icon_all {
    height: 38px;
    width: 38px;
    padding: 10px;
    margin-right: 10px;
  }
  .footer_store {
    justify-content: space-evenly;
  }
  .footer_store img {
    height: 30px;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
