.form
    display: flex
    flex-direction: column
    padding-top: 25px
    .input
        margin-top: 11px
        width: 303px
        height: 54px
        border-radius: 5px
        padding: 0 20px
        border: none
        color: #4b4b4b
        font-size: 14px
        font-weight: 300
        &_form
            margin: 11px auto 0 auto
